<!DOCTYPE html>
<html>
  <head>
    <title>ResRev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<nav class="navbar navbar-default">
      <div class="container">
       <div class="navbar-header">
        <%= link_to "Restaurant Review", restaurants_path, class: "navbar-brand" %>
       </div>

       <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          <% Category.all.each do |category| %>
            <li class="<%= 'active' if params[:category] == category.name %>">
            <%= link_to category.name, restaurants_path(category: category.name), class: "link" %>
            </li>
            <% end %>
          </ul>
        </li>

       <% if logged_in? %>
       <li><%= link_to "Add a Restaurant", new_restaurant_path %></li>
       <li><%= link_to "Your Added Restaurant", user_path(current_user) %></li>
       <li><%= link_to "Log Out", logout_path, method: :delete %></li>
       <% else %>
       <li><%= link_to "Signup", signup_path %></li>
       <li><%= link_to "Login", login_path %></li>

       <% end %>
       </ul>
      </div>
      </nav>
  </head>

  <body>
     <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
